In [1]:
# Importacion de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

%matplotlib inline

plt.style.use('default') # para graficos matplotlib
plt.rcParams['figure.figsize'] = (10, 6)

sns.set(style="whitegrid") # grid seaborn

pd.options.display.float_format = '{:20,.3f}'.format # notacion output

# Acceso a set de datos

In [2]:
path = "/home/seba/Escritorio/Datos/TP1/data/"
df_props_full = pd.read_csv(path + "train.csv")

# Información básica

In [3]:
df_props_full.duplicated().value_counts()

False    240000
dtype: int64

In [4]:
# Cantidad propiedades
df_props_full.shape

(240000, 23)

In [5]:
# Informacion de las columnas
df_props_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 23 columns):
id                            240000 non-null int64
titulo                        234613 non-null object
descripcion                   238381 non-null object
tipodepropiedad               239954 non-null object
direccion                     186928 non-null object
ciudad                        239628 non-null object
provincia                     239845 non-null object
antiguedad                    196445 non-null float64
habitaciones                  217529 non-null float64
garages                       202235 non-null float64
banos                         213779 non-null float64
metroscubiertos               222600 non-null float64
metrostotales                 188533 non-null float64
idzona                        211379 non-null float64
lat                           116512 non-null float64
lng                           116512 non-null float64
fecha                         240000 non-null object
gimnasio                      240000 non-null float64
usosmultiples                 240000 non-null float64
piscina                       240000 non-null float64
escuelascercanas              240000 non-null float64
centroscomercialescercanos    240000 non-null float64
precio                        240000 non-null float64
dtypes: float64(15), int64(1), object(7)
memory usage: 42.1+ MB

<span style="color:red">* Latitud y Longitud tienen gran cantidad de valores nulos

In [6]:
df_props_full.describe()

,id,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,idzona,lat,lng,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
count,"240,000.000","196,445.000","217,529.000","202,235.000","213,779.000","222,600.000","188,533.000","211,379.000","116,512.000","116,512.000","240,000.000","240,000.000","240,000.000","240,000.000","240,000.000","240,000.000"
mean,"149,969.382",8.116,2.902,1.547,2.132,174.017,176.765,"2,423,467.825",20.697,-99.509,0.062,0.055,0.087,0.444,0.397,"2,530,838.346"
std,"86,634.580",9.554,0.897,0.854,0.913,98.153,94.427,"10,567,938.364",3.138,9.744,0.242,0.228,0.282,0.497,0.489,"2,152,551.798"
min,1.000,0.000,1.000,0.000,1.000,15.000,15.000,22.000,-100.887,-125.859,0.000,0.000,0.000,0.000,0.000,"310,000.000"
25%,"74,930.750",0.000,2.000,1.000,1.000,90.000,102.000,"24,890.000",19.360,-100.978,0.000,0.000,0.000,0.000,0.000,"952,772.500"
50%,"149,875.500",5.000,3.000,2.000,2.000,153.000,155.000,"56,383.000",19.543,-99.240,0.000,0.000,0.000,0.000,0.000,"1,850,000.000"
75%,"225,016.500",10.000,3.000,2.000,3.000,240.000,238.000,"87,838.000",20.740,-99.135,0.000,0.000,0.000,1.000,1.000,"3,390,000.000"
max,"299,999.000",80.000,10.000,3.000,4.000,439.000,439.000,"50,003,999.000",83.026,121.036,1.000,1.000,1.000,1.000,1.000,"12,525,000.000"

<span style="color:red">
    * Gimnasio, usosmultiples, piscina, escuelascercanas y centroscomerciales son todos valores binarios <br />
    * Antiguedad, habitaciones, garages y baños se pueden representar en UINT8 <br />
    * Metroscubiertos y metrostotales se pueden representar con UINT16<br />
    * id, idzona y precio se pueden representar con UINT32<br \>
    * Latitud y Longitud tienen valores FLOAT. Si se redondea se puede convertir a INT8

In [7]:
df_props_full.head()

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,...,idzona,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
0,254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,nan,2.000,1.000,...,"23,533.000",nan,nan,2015-08-23 00:00:00,0.000,0.000,0.000,0.000,0.000,"2,273,000.000"
1,53461,condominio horizontal en venta,"<p>entre sonora y guerrero, atr&aacute;s del h...",Casa en condominio,AV. MEXICO,La Magdalena Contreras,Distrito Federal,10.000,3.000,2.000,...,"24,514.000",19.310,-99.228,2013-06-28 00:00:00,0.000,0.000,0.000,1.000,1.000,"3,600,000.000"
2,247984,casa en venta urbi 3 recamaras tonala,descripcion \nla mejor ubicacion residencial e...,Casa,Urbi Tonala,Tonalá,Jalisco,5.000,3.000,2.000,...,"48,551.000",nan,nan,2015-10-17 00:00:00,0.000,0.000,0.000,0.000,0.000,"1,200,000.000"
3,209067,casa sola en toluca zinacantepec con credito i...,casa en privada con caseta de vigilancia casas...,Casa,IGNACIO MANUEL ALTAMIRANO 128,Zinacantepec,Edo. de México,1.000,2.000,1.000,...,"53,666.000",19.302,-99.688,2012-03-09 00:00:00,0.000,0.000,0.000,1.000,1.000,"650,000.000"
4,185997,paseos del sol,bonito departamento en excelentes condiciones ...,Apartamento,PASEOS DEL SOL,Zapopan,Jalisco,10.000,2.000,1.000,...,"47,835.000",nan,nan,2016-06-07 00:00:00,0.000,0.000,0.000,0.000,0.000,"1,150,000.000"

# Conversión de tipos

In [8]:
df_props_full['fecha'] = pd.to_datetime(df_props_full['fecha'])

In [9]:
# Convierto todos los valores 1/0 a uint8
df_props_full['gimnasio'] = df_props_full['gimnasio'].astype('uint8')
df_props_full['usosmultiples'] = df_props_full['usosmultiples'].astype('uint8')
df_props_full['piscina'] = df_props_full['piscina'].astype('uint8')
df_props_full['escuelascercanas'] = df_props_full['escuelascercanas'].astype('uint8')
df_props_full['centroscomercialescercanos'] = df_props_full['centroscomercialescercanos'].astype('uint8')

In [10]:
# Convierto los representables en uint8. Utilizo el tipo de pandas UInt8Dtype para evitar conflicto con NaN
df_props_full['antiguedad'] = df_props_full['antiguedad'].astype(pd.UInt8Dtype())
df_props_full['habitaciones'] = df_props_full['habitaciones'].astype(pd.UInt8Dtype())
df_props_full['garages'] = df_props_full['garages'].astype(pd.UInt8Dtype())
df_props_full['banos'] = df_props_full['banos'].astype(pd.UInt8Dtype())

In [11]:
# Convierto los representables en uint16. Utilizo el tipo de pandas UInt16Dtype para evitar conflicto con NaN
df_props_full['metroscubiertos'] = df_props_full['metroscubiertos'].astype(pd.UInt16Dtype())
df_props_full['metrostotales'] = df_props_full['metrostotales'].astype(pd.UInt16Dtype())

In [12]:
# Convierto los representables en uint32. Utilizo el tipo de pandas UInt32Dtype para evitar conflicto con NaN
df_props_full['id'] = df_props_full['id'].astype(pd.UInt32Dtype())
df_props_full['idzona'] = df_props_full['idzona'].astype(pd.UInt32Dtype())
df_props_full['precio'] = df_props_full['precio'].astype(pd.UInt32Dtype())

In [13]:
df_props_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 23 columns):
id                            240000 non-null UInt32
titulo                        234613 non-null object
descripcion                   238381 non-null object
tipodepropiedad               239954 non-null object
direccion                     186928 non-null object
ciudad                        239628 non-null object
provincia                     239845 non-null object
antiguedad                    196445 non-null UInt8
habitaciones                  217529 non-null UInt8
garages                       202235 non-null UInt8
banos                         213779 non-null UInt8
metroscubiertos               222600 non-null UInt16
metrostotales                 188533 non-null UInt16
idzona                        211379 non-null UInt32
lat                           116512 non-null float64
lng                           116512 non-null float64
fecha                         240000 non-null datetime64[ns]
gimnasio                      240000 non-null uint8
usosmultiples                 240000 non-null uint8
piscina                       240000 non-null uint8
escuelascercanas              240000 non-null uint8
centroscomercialescercanos    240000 non-null uint8
precio                        240000 non-null UInt32
dtypes: UInt16(2), UInt32(3), UInt8(4), datetime64[ns](1), float64(2), object(6), uint8(5)
memory usage: 24.3+ MB

# Conversion MEX a USD

In [14]:
df_dollar = pd.read_csv(path + 'dollar.csv')
df_dollar = df_dollar.dropna()
df_dollar['Cierre'] = pd.to_numeric(df_dollar['Cierre'])
df_dollar['Cierre'] = df_dollar['Cierre'].round(3)
df_dollar['Fecha'] = pd.to_datetime(df_dollar['Fecha'], format='%d.%m.%Y')
df_dollar = df_dollar.set_index('Fecha')
df_dollar = df_dollar.loc[:, 'Cierre'].to_frame()

In [15]:
# Agrego fechas faltantes (Sabados y Domingos) con valor 0
idx = pd.date_range(start='2011-12-12', end='2017-01-31')
df_dollar = df_dollar.reindex(idx, fill_value=0)

In [16]:
# Cuando se trata de una fecha que corresponde a un Sabado o Domingo no se tiene infromación sobre Cierre
# Le asigno el valor correspondiente al Viernes previo
for i in range(0, len(df_dollar)):
    if (df_dollar.iloc[i]['Cierre'] == 0):
        df_dollar.iloc[i]['Cierre'] = df_dollar.iloc[i-1]['Cierre']

In [17]:
df_props_full['fecha'] = df_props_full['fecha'].apply(lambda x: x.replace(hour=0, minute=0, second=0)) # Seteo tiempo a 00:00:00 para join
df_props_full = df_props_full.set_index('fecha')
df_props_full = df_props_full.join(df_dollar, how='left')
df_props_full = df_props_full.reset_index()
df_props_full.rename(columns = {'index' : 'fecha'}, inplace=True)

In [18]:
df_props_full.rename(columns = {'Cierre' : 'MEX_to_USD', 'precio' : 'Precio_MEX'}, inplace=True)
df_props_full['Precio_USD'] = df_props_full['Precio_MEX'] * df_props_full['MEX_to_USD']
df_props_full['Precio_USD'] = df_props_full['Precio_USD'].astype(int)
df_props_full.head()

,fecha,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,...,lat,lng,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,Precio_MEX,MEX_to_USD,Precio_USD
0,2012-01-01,270716,NaN,ubicado en el mejor desarrollo residencial de ...,Apartamento,Bosques de Oyameles TII 3A,Morelia,Michoacán,3,2,...,nan,nan,0,0,0,1,0,950000,0.072,68400
1,2012-01-01,216691,casa en venta en valle dorado,preciosa casa de dos plantas con jardin. fracc...,Casa,Amatista,San Luis Potosí,San luis Potosí,5,3,...,22.131,-100.935,0,0,0,0,0,970000,0.072,69840
2,2012-01-01,120625,NaN,"en esquina, excelente vista, finos acabados, j...",Casa,Naolinco 326,Querétaro,Querétaro,0,3,...,nan,nan,0,0,0,1,1,6500000,0.072,467999
3,2012-01-01,147802,NaN,"residencia de lujo, totalmente amueblada con h...",Casa en condominio,Manzanillo 8,Chapala,Jalisco,8,3,...,nan,nan,0,0,0,1,1,3590000,0.072,258479
4,2012-01-01,299053,casa en venta en universidades,casa en calle valle de anahuac en lomas del va...,Casa,Valle de Anahuac 74,Puebla,Puebla,1,3,...,nan,nan,0,0,0,1,1,1120000,0.072,80640

In [20]:
df_props_full.to_csv('train_dollar.csv', index=False)